<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <title>{{ page.title | strip_html }} - Tutorial gratuito de HTML y CSS</title>

  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" />
  <![endif]-->

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://marksheet.programadorwebvalencia.com">
  <meta property="og:title" content="Tutorial gratuito de HTML y CSS">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="MarkSheetES">
  <meta property="og:image" content="http://marksheet.io/images/marksheet-banner.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@androsfenollosa">
  <meta name="twitter:creator" content="@androsfenollosa">
  <meta name="twitter:title" content="MarkSheet es un tutorial gratuito de HTML y CSS">
  <meta name="twitter:image" content="http://marksheet.io/images/marksheet-banner.png">
  <meta name="twitter:description" content="">
</head>
